<sulci>
 <jabber>
  <server>jabber.ru</server>
  <port>5222</port>
  <user>sxxxx</user>
  <resource>Ocaml</resource>
  <password>secret</password>
 </jabber>

 <lang dir="./lang" default="ru"/>

 <acl jid='ermine@jabber.ru' class='admin'/>
 
 <muc>
  <!--  <room nick="sulci-test" jid="z@conference.jabber.ru" lang="ru"/> -->
  <room nick="sulci" jid="ejabberd@conference.jabber.ru" lang="en"/>

  <chatlogs>./chatlogs</chatlogs>
 </muc>
 <debug>
  <logfile>log.log</logfile>
 </debug>
 <plugins>
  <google>
   <key>00000000000000000000000000000</key>
  </google>
  <vocabulary name="vocabulary"/>
  <mueller file="/path/to/Mueller24.koi" hashext=".hash" />
  <markov dir="./markov_db"/>
  <!--
    <globalstats>
     <store serverlist='servers.list' result='servers.res' interval='3600'/>
    </globalstats>
  -->
  <dict>
   <!-- <server port=2628>localhost</server> -->
   <server>dict.org</server>
  </dict>
  <!--
    <talkers db="talkers.db"/>
  -->
  <cerberus kick="true">
   <notify jid="ermine@jabber.ru"/>
  </cerberus>
 </plugins>
</sulci>
