sulci>
 <account jid='username@server'>
  <!-- <ip>127.0.0.1</ip> -->
  <!-- <ip>localhost</ip> -->
  <!-- <port>5222</port> -->
  <resource>Ocaml</resource>
  <password>secret</password>

  <!-- Uncomment this to use STARTTLS
  <starttls/>
  -->

  <!-- Uncomment this to use COMPRESS
  <compress/>
  -->

  <rawxml_log file='log1.log'/>

  <!-- Reconnect interval in seconds. If count=0 do it infinitely -->
  <!-- If you use NOT OWN jabber server, it is strongly recommended do not
       do times more than 3.
  <reconnect interval='10' times='3' />
  -->
 </account>

 <log>
  <level value='debug'/>
  <!--
  <syslog facility='local0'/>
  -->
  <!--
  <stderr/>
  -->
  <!--
  <piped_log cmd='cmd'/>
  -->
  <file path='report.log'/>
 </log>

 <lang dir='./lang' default='ru'/>

 <acl jid='ermine@jabber.ru' class='botmaster'/>
 
 <max_message_length value='4000'/>

 <plugins>

  <plugin name='muc' path='./plugins/muc'>
   <msg_limit value='400'/>
   <db path='./sulci_muc.db'/>
   <acl role='moderator' class='moderator'/>
   <acl affiliation='owner' class='owner'/>
  </plugin>

  <plugin name='scheduler' path='./plugins/plugin_scheduler'/>

  <plugin name='muc_log' path='./plugins/muc_log'>
     <dir path='./chatlogs'/>
  </plugin>

  <plugin name='http' path='./plugins/http_suck'/>
  
  <plugin name='commands' path='./plugins/plugin_command'>
   <prefix value='.'/>
  </plugin>

  <plugin name='conversion' path='./plugins/conv_xml'>
   <decoder_dir path='./conversion/decoders'/>
   <encoder_dir path='./conversion/encoders'/>
  </plugin>

  <plugin name='admin' path='./plugins/plugin_admin'>
   <command id='invite' name='invite' access='botmaster'/>
   <command id='join' name='join' access='botmaster'/>
   <command id='leave' name='leave' access='botmaster'/>
   <command id='sh' name='sh' access='botmaster'/>
  </plugin>

  <plugin name='brainfuck' path='./plugins/plugin_brainfuck'>
   <command id='bf'/>
  </plugin>

  <plugin name='calc' path='./plugins/plugin_calc'>
   <command id='calc' name='calc'/>
   <command id='rpn' name='rpn'/>
  </plugin>

  <plugin name='cerberus' path='./plugins/plugin_cerberus'>
   <kick value='true'/>
   <notify jid='jid@jabber.server'/>
  </plugin>

  <plugin name='currency' path='./plugins/plugin_currency'>
   <scheduler time='11:00'/>
   <command id='curr'/>
  </plugin>

  <plugin name='dict' path='./plugins/plugin_dict'>
   <!-- <server port=2628 host='localhost'/> -->
   <server host='dict.org'/>
   <command id='dict'/>
  </plugin>

  <!-- it was used on http://ejabberd.jabber.ru/ to display total 
       registered users and users online using ejabberd -->
  <!--
  <plugin name='globalstats' path='./plugins/plugin_globalstats'>
   <store serverlist='servers.list' result='servers.res' interval='3600'/>
  </plugin>
  -->

  <plugin name='google' path='./plugins/plugin_google'>
   <command id='google'/>
  </plugin>

  <plugin name='google_translate' path='./plugins/google_translate'>
   <command id='gtr'/>
  </plugin>

  <plugin name='hostip' path='./plugins/plugin_hostip'>
   <command id='hostip'/>
  </plugin>

  <plugin name='markov' path='./plugins/plugin_markov'>
   <dir path='./markov_db'/>
   <max_words value='20' />
   <command id='!!!count'/>
   <command id='!!!top'/>
  </plugin>

  <plugin name='misc' path='./plugins/plugin_misc'>
   <command id='dns' name='dns'/>
 </plugin>

  <plugin name='mueller' path='./plugins/plugin_mueller'>
   <db path='/path/to/Mueller24.koi' hashext='.hash'/>
   <command id='mueller'/>
  </plugin>

  <plugin name='ping' path='./plugins/plugin_ping'>
   <command id='ping'/>
  </plugin>

  <plugin name='roulette' path='./plugins/plugin_roulette'>
   <command id='tryme'/>
  </plugin>

  <plugin name='seen' path='./plugins/plugin_seen'>
   <db path='./sulci_users.db'/>
   <command id='seen'/>
  </plugin>

  <plugin name='talkers' path='./plugins/plugin_talkers'>
   <db path='./talkers.db'/>
   <command id='talkers'/>
  </plugin>

  <plugin name='tld' path='./plugins/plugin_tld'>
   <db path='./tlds/tlds'/>
   <command id='tld'/>
  </plugin>

  <plugin name='userinfo' path='./plugins/plugin_userinfo'>
   <command id='version' name='version'/>
   <command id='idle' name='idle'/>
   <command id='uptime' name='uptime'/>
   <command id='time' name='time'/>
   <command id='stats' name='stats'/>
  </plugin>

  <plugin name='translate' path='./plugins/plugin_translate'>
   <command id='tr'/>
  </plugin>

  <Plugin name='vcard' path='./plugins/plugin_vcard'>
   <command id='vcard'/>
  </plugin>

  <plugin name='vocabulary' path='./plugins/plugin_vocabulary'>
   <db path='./vocabulary.db'/>
   <command id='wtf' name='wtf'/>
   <command id='dfn' name='dfn'/>
   <command id='wtfremove' name='wtfremove' access='moderator'/>
  </plugin>

  <plugin name='weather' path='./plugins/plugin_weather'>
   <command id='wz' name='wz'/>
  </plugin>

  <plugin name='yandex' path='./plugins/plugin_yandex'>
   <command id='blogs'/>
  </plugin>

 </plugins>
</sulci>
